.description {
    /* height: 100%;
    width: 100%; */
    font-size: 16px;
    color: #F55920;
    display: flex;
    /* padding: 50px; */
    padding: 30px;
    margin-left: 50px;
    
    align-items: center;
    justify-content: space-between;
}
.main {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    background-color: #02021E;
}
.button {
    background-color: none;
    color: #F55920;
    border: 1px solid #F55920;
    width: 100px;
    height: 35px;
}
.below {
    /* padding: 50px; */
    padding: 30px;
    margin-left: 50px;
}
.button:hover {
    border: 2px solid white;
    color: #D4E213;
    
}
