/* .main h1 {
   font-size: 30rem; 
   opacity: 0.1;
   margin: 18% 0 0 0;
}
.main {
    background-color: #2864ff;
    margin: 0;
    height: 100vh;
    width: 100%;
    color: white;
}
.progress {
    background-color: #a1bcff;
    height: 3px;
    width: 0;
    position: absolute;
    top: 50%;
} */
